## Importing Necessary Libraries

In [46]:
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
import numpy as np

## Data Importing and Necessary Analysis

In [47]:
df = pd.read_csv('/content/train.csv')

In [48]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [49]:
df_regression = df[['OverallCond','GrLivArea','GarageArea','TotalBsmtSF','YearBuilt','SalePrice','OverallQual']]

In [50]:
df_regression.corr()

,OverallCond,GrLivArea,GarageArea,TotalBsmtSF,YearBuilt,SalePrice,OverallQual
OverallCond,1.000000,-0.079686,-0.151521,-0.171098,-0.375983,-0.077856,-0.091932
GrLivArea,-0.079686,1.000000,0.468997,0.454868,0.199010,0.708624,0.593007
GarageArea,-0.151521,0.468997,1.000000,0.486665,0.478954,0.623431,0.562022
TotalBsmtSF,-0.171098,0.454868,0.486665,1.000000,0.391452,0.613581,0.537808
YearBuilt,-0.375983,0.199010,0.478954,0.391452,1.000000,0.522897,0.572323
SalePrice,-0.077856,0.708624,0.623431,0.613581,0.522897,1.000000,0.790982
OverallQual,-0.091932,0.593007,0.562022,0.537808,0.572323,0.790982,1.000000

In [51]:
df_regression

,OverallCond,GrLivArea,GarageArea,TotalBsmtSF,YearBuilt,SalePrice,OverallQual
0,5,1710,548,856,2003,208500,7
1,8,1262,460,1262,1976,181500,6
2,5,1786,608,920,2001,223500,7
3,5,1717,642,756,1915,140000,7
4,5,2198,836,1145,2000,250000,8
...,...,...,...,...,...,...,...
1455,5,1647,460,953,1999,175000,6
1456,6,2073,500,1542,1978,210000,6
1457,9,2340,252,1152,1941,266500,7
1458,6,1078,240,1078,1950,142125,5
1459,6,1256,276,1256,1965,147500,5

In [52]:
df_regression.isnull().sum()

OverallCond    0
GrLivArea      0
GarageArea     0
TotalBsmtSF    0
YearBuilt      0
SalePrice      0
OverallQual    0
dtype: int64

In [53]:
df_regression.describe()

,OverallCond,GrLivArea,GarageArea,TotalBsmtSF,YearBuilt,SalePrice,OverallQual
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,5.575342,1515.463699,472.980137,1057.429452,1971.267808,180921.195890,6.099315
std,1.112799,525.480383,213.804841,438.705324,30.202904,79442.502883,1.382997
min,1.000000,334.000000,0.000000,0.000000,1872.000000,34900.000000,1.000000
25%,5.000000,1129.500000,334.500000,795.750000,1954.000000,129975.000000,5.000000
50%,5.000000,1464.000000,480.000000,991.500000,1973.000000,163000.000000,6.000000
75%,6.000000,1776.750000,576.000000,1298.250000,2000.000000,214000.000000,7.000000
max,9.000000,5642.000000,1418.000000,6110.000000,2010.000000,755000.000000,10.000000

## Normalization of the dataframe

In [30]:
# Assuming your DataFrame is called 'df' and you have columns for normalization
columns_to_normalize = ['OverallCond','GrLivArea','GarageArea','TotalBsmtSF','YearBuilt','SalePrice','OverallQual']

# Create a new DataFrame with only the columns to be normalized
data_to_normalize = df[columns_to_normalize]

# Apply normalization
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(data_to_normalize)

# Update the original DataFrame with the normalized values
df[columns_to_normalize] = normalized_data

In [33]:
df1 = df[columns_to_normalize]

In [34]:
df1

,OverallCond,GrLivArea,GarageArea,TotalBsmtSF,YearBuilt,SalePrice,OverallQual
0,0.500,0.259231,0.386460,0.140098,0.949275,0.241078,0.666667
1,0.875,0.174830,0.324401,0.206547,0.753623,0.203583,0.555556
2,0.500,0.273549,0.428773,0.150573,0.934783,0.261908,0.666667
3,0.500,0.260550,0.452750,0.123732,0.311594,0.145952,0.666667
4,0.500,0.351168,0.589563,0.187398,0.927536,0.298709,0.777778
...,...,...,...,...,...,...,...
1455,0.500,0.247362,0.324401,0.155974,0.920290,0.194556,0.555556
1456,0.625,0.327619,0.352609,0.252373,0.768116,0.243161,0.555556
1457,1.000,0.377920,0.177715,0.188543,0.500000,0.321622,0.666667
1458,0.625,0.140166,0.169252,0.176432,0.565217,0.148903,0.444444
1459,0.625,0.173700,0.194640,0.205565,0.673913,0.156367,0.444444

## Regressor Using Decision Tree

In [24]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [39]:
# Split the data into training and test sets
X = df1[['GrLivArea', 'GarageArea', 'TotalBsmtSF','OverallQual','YearBuilt','OverallCond']]
y = df1['SalePrice']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [40]:
# Create the decision tree regressor
regressor = DecisionTreeRegressor()

# Fit the model on the training data
regressor.fit(X_train, y_train)

DecisionTreeRegressor()

In [41]:
# Predict on the test data
y_pred = regressor.predict(X_test)

# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.0028880054333152816

## Linear Regression Using regressor

In [16]:
from sklearn.linear_model import LinearRegression

In [42]:
# Assuming you have your data in X (features) and y (target variable)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create the linear regression model
regressor = LinearRegression()

# Fit the model on the training data
regressor.fit(X_train, y_train)

# Predict on the test dat
y_pred = regressor.predict(X_test)

# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.0029272621075367503